
.summary {
    position: relative;
    top: -105px;
    width: 80%;
    max-width: 50rem;
    height: 50%;
    margin: auto;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 5px 5px black;;
}

.summary h2{
    font-size: 24px;
    margin-top: 0;
}
.summary p{
    font-size: 14px;
   
}