

.form {
    margin-top: 20px;
    width: 20%;
    float: right;
}



.input {
justify-content: space-around;
margin-left: 5px;
display:grid;

 }


 .form input {
    display: flex;
    margin-bottom: 10px;
    text-align: center;

 }

 .form input::placeholder {
 color: gray;
 opacity: 0.5;
    
 }


.form button {
    width: 100px;
    background-color: brown;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
    display: inline;


}